@model Higher_Institution.Models.InstructorUser
@using Higher_Institution.Models.Enum

@{
    ViewData["Title"] = Model.FullName + " "+Model.Gender;
}



<hr />



<div class="row col-lg-offset-1">
    <div class="col-md-10" align="center">
        <h3>UNIVERSITY OF LAGOS</h3>
        <hr />
        <h1>@Model.AssignCourse</h1>
        <hr />
        <div class="col-md-6"><h4> Department: @Model.Department.Name  </h4></div>  <div class="col-md-3"><h4> Year: 2017/2018 </h4> </div> <div class="col-md-3"><h4> Semester: First</h4> </div> 
    </div>
</div>



<hr />





<form asp-action="SubmissionOfResult" >
    <div class="form-horizontal">
        
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>Matric Number</th>
                            <th>Student Name</th>
                            <th>Grade</th>
                        </tr>
                    </thead>



                    <tr>
                        @{
                            int cnt = 0;
                            List<Higher_Institution.Models.ViewModels.CarryOverAssigned> courses =
                ViewBag.Courses;

                            foreach (var course in courses)
                            {
                                if (cnt++ % 1 == 0)
                                {
                                    @:</tr><tr>
						        }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedCourses"
                                           value="@course.GeneratedStudentCourseID"
                                           @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                                @:</td>


                                @:<td>
                                    @course.ApplicationUserIdentityNumber
                                @:</td>

                                @:<td>
                                    @course.ApplicationUserName
                                @:</td>

                                @:<td>
                                    @course.Grade
                                @:</td>

                               
					        }
                            @:</tr>
                        }
                    </table>
                </div>
            </div>

             <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
